footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
    z-index: 5;
    bottom: 10px;
}
footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}
.icon {
    font-size: 10px;
}